.title {
  font-family: "Carter One";
}
.container {
  margin-top: 50px;
  text-align: center;
}

/* Optional style for fetched images */
.images {
  display: flex;
  max-width: 80%;
  margin: 2% auto;
  flex-wrap: wrap;
  align-items: flex-start;
}
.infinite-scroll-component{
  overflow: hidden !important;
}
.single-photo-show,.single-photo-hide {
  max-width: 300px;
  align-self: auto;
  margin: 1% 2px;
  flex-grow: 1;
  vertical-align: middle;
  
}
body{
  position: relative;
}
.modal-window{
  position: fixed;
 z-index: 100;
  /* max-width: 90%; */
  min-height: 90vh;
  min-width: 90vw;
  background-color: rgba(121, 115, 115,0.5);
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  
}
.close-btn{
  position: absolute;
  top:10px;
  right:30px;
  font-size: 2rem;
}

.single-photo-show{
  opacity: 1;
  transform:translateY(0);
  transition: 1s;
}

.single-photo-hide{
  opacity: 0;
  transform:translateY(30%);
}

